<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fragments communs</title>
</head>
<body>
<!-- Fragment "header" -->
<th:block th:fragment="header">
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</th:block>

<!-- Fragment "menu" : navbar bootstrap -->
<th:block th:fragment="menu">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Accueil</a>
            <button class="navbar-toggler" type="button" ...>...</button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/tables}">Tables</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/clients}">Clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/reservations}">Réservations</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <!-- Language: FR -->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/?lang=fr}">| FR</a>
                    </li>
                    <!-- Language: EN -->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/?lang=en}">| EN</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>

</body>
</html>
